<mat-card class="libro" appearance="raised">
  <img mat-card-image  src="{{book.url}}" alt="Book cover" />
  <mat-card-content>
    <h2>{{book.title}}</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla esse et nihil, accusamus obcaecati, consectetur culpa debitis, totam illo veniam nisi aut harum alias consequatur! Sed, earum debitis? Laboriosam, aliquid.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat alias ducimus error repudiandae, nostrum distinctio hic ad, praesentium dolorem nulla inventore enim. Eveniet sunt aut quod maiores? Deleniti, hic dolorem!
    </p>
  </mat-card-content>
</mat-card>