.cart-page {
  display: flex;
  margin-inline: auto;
  max-width: 1250px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-card,
.price-details-card {
  width: 90%;
  max-width: 600px;
  margin-top: 2rem;
  border: 1px solid rgb(223, 223, 223);
}
mat-card img {
  max-width: 8rem;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
}

.cart-items {
  display: flex;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.item-details {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
}
.item-details h3 {
  margin: 0;
  padding: 0;
}
.top-item {
  display: flex;
  justify-content: space-between;
}
p {
  margin: 1px;
  display: flex;
  gap: 0.5rem;
}

.quantity-control {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
button {
  border: none;
  box-shadow: 0 0 0 0;
}
.price-div {
  display: block;
}

mat-card-content {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.list-item-content {
  display: flex;
  justify-content: space-between;
}
.total-amount-row {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.place-order-button {
  margin-bottom: 2rem;
  margin-inline: auto;
  width: 70%;
  border-radius: 10px;
  background-color: black;
}
.place-order-button p {
  font-size: medium;
  display: flex;
  align-items: center;
}
mat-list-item {
  padding: 0;
}
@media (max-width: 768px) {
  .cart-card {
    padding-right: 20px;
    margin-inline: auto;
  }
  .cart-items {
    padding-right: 10px;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .cart-items img {
    max-width: 6rem;
    margin-bottom: 0;
  }

  .item-details {
    margin-right: 0.5rem;
  }

  .quantity-control {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .price-details-card {
    margin-inline: auto;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .cart-card,
  .price-details-card {
    width: 48%;
    max-width: none;
  }
}
