<div class="cart-page">
  <mat-card *ngIf="cart as c" class="cart-card">
    <div class="cart-items" *ngFor="let item of c.orderItem; let i = index">
      <div>
        <img mat-card-image [src]="c.book.imageUrl" alt="{{ c.book.title }}" class="cart-image" />
      </div>
      <div class="item-details">
        <div class="top-item">
          <div>
            <h2>{{ c.book.title }}</h2>
            <p>
              <span>{{ c.book.author }}</span>
              <span> •</span>
              <span>{{ c.book.category.join(', ') }}</span>
              <span> •</span>
              <span>{{ c.book.year }}</span>
            </p>
          </div>
          <div>
            <button mat-icon-button color="warn" (click)="removeItem(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="quantity-control">
          <p>{{ item.price | currency : 'EUR' }}</p>
          <div class="quantity">
            <button mat-icon-button (click)="decreaseQuantity(i)">
              <mat-icon>remove</mat-icon>
            </button>
            <span>{{ item.quantity }}</span>
            <button mat-icon-button (click)="increaseQuantity(i)"><mat-icon>add</mat-icon></button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card *ngIf="cart as c" class="price-details-card">
    <mat-card-header>
      <mat-card-title>Price Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matListItemTitle class="item-title">{{ getQuantity() }} items</div>
        </mat-list-item>
        <mat-list-item *ngFor="let item of c.orderItem; let i = index">
          <div class="list-item-content">
            <div class="item-name">{{ item.quantity }} x {{ c.book.title }}</div>
            <div class="item-price">
              <p>{{ item.price | currency : 'EUR' }}</p>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <div class="total-amount-row">
        <div class="total-amount-label">Total Amount</div>
        <div class="total-amount-price">{{ getTotal() | currency : 'EUR' }}</div>
      </div>
    </mat-card-content>
    <button mat-flat-button color="accent" class="place-order-button">
      <p><span> Place order</span><mat-icon>arrow_forward</mat-icon></p>
    </button>
  </mat-card>
</div>
