<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <strong>PageUp</strong> &nbsp;|&nbsp; Powered by BetacomAcademy
    <br />
    <div class="footer-row">
      <div class="footer-column">
        <span class="column-title">contatti</span>
        <span>|&nbsp; Tel: 02 12345678 &nbsp;</span>
        <span>|&nbsp; Email: info@booksfrontend.it</span>
      </div>
      <div class="footer-column">
        <span class="column-title">link utili &nbsp;</span>
        <a routerLink="/home">Home</a>
        <a routerLink="/login">Login</a>
      </div>

      <div class="footer-column">
        <span class="column-title">chi siamo</span>
        <p>
          Siamo una libreria online dedicata a rendere la lettura accessibile a tutti, con un’ampia
          selezione di titoli e un servizio attento alle esigenze dei lettori.
        </p>
      </div>

      <div class="footer-column">
        <div class="footer-links">
          <a mat-button href="/privacy" routerLink="/privacy">Privacy</a>
          <a mat-button href="/terms" routerLink="/terms">Termini</a>
          <a
            mat-icon-button
            href="https://github.com/palezz02/BooksFrontEnd"
            target="_blank"
            aria-label="GitHub"
          >
            <mat-icon>code</mat-icon>
          </a>
          <a
            mat-icon-button
            href="https://www.linkedin.com/company/betacom"
            target="_blank"
            aria-label="LinkedIn"
          >
            <mat-icon>business</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
