<mat-toolbar color="primary" class="navbar">
  <span class="logo">
    <p>Page<span>Up</span></p>
  </span>

  <button mat-icon-button class="hamburger" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav class="nav-links" [class.mobile-open]="menuOpen">
    <a mat-button routerLink="/home" (click)="closeMenuIfMobile()">Home</a>
    <a mat-button routerLink="/allBooks" (click)="closeMenuIfMobile()">Catalog</a>
    <button mat-button (click)="scrollToFooter(); closeMenuIfMobile()">Contact</button>
  </nav>

  <span class="spacer"></span>

  <button mat-icon-button [routerLink]="'/cart'">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="'/setting'">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-icon-button (click)="onLoggedInClick()" [hidden]="!loggedIn">
    <mat-icon>logout</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="'/admin/bookdelete'" [hidden]="!admin">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
</mat-toolbar>

<div class="mobile-menu-overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
