.siderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.siderContainer button {
  width: 5%;
}

mat-grid-list {
  flex: 1;
}

.container h2 {
  text-align: center;
}
